{% extends 'main.html' %}
{% load static %}


{% block content %}


<h1 style="color: #2B2B2B; display: flex; justify-content: center; " >ADD SKILL</h1>


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton"  onClick="javascript:history.go(-1);" href="#">🔙<i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form__field">
                        <label for="formInput#text">{{field.label}}: </label>
                        {{field}}
                    </div>
                {% endfor %}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>





{% endblock content %}