{% extends 'main.html' %}
{% load static %}


{% block content %}

<style>
    input[type='text'],
input[type='email'],
input[type='password'] {
  min-width: 24rem;
  width: 100%;
  padding: 1.2rem 1.5rem;
  border-radius: 0.5rem;
  border: #bababa;
  transition: all 0.3s ease-in-out;
  background-color: #ededed;
  color: black;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='text']:active,
input[type='email']:active,
input[type='password']:active {
  outline: none;
  border: 2px solid var(--color-main);
}
</style>

{% if form %}

<h1 style="color: #2B2B2B; display: flex; justify-content: center; " >Enter new password</h1>


<main class="formPage my-xl">
    <div style="width: 70%;" class="content-boxx">
        <div class="formWrapper">
            <br>

            <p style="color: black;" >Please enter your new password twice so we can verify you typed it in correctly.</p>

            <form class="form" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form__field">
                        <label for="formInput#text">{{field.label}}: </label>
                        {{field}}
                        {% for error in field.errors %}
                            <p style="color: red;" >{{error}}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <input style="display: flex;" class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% else %}


<h2 style="color: black; display: flex; justify-content: center;" >This link has been expired </h2>
<br>
<h3 style="color: black; display: flex; justify-content: center;" >Please regenerate new one </h3>
<a style="color: black; display: flex; justify-content: center;" href="{% url 'resetpass' %}">Click here to regenerate</a>



{% endif %}


{% endblock content %}